In [2]:
import pandas as pd

In [6]:
# Monthly unemployment

mon_unemp = pd.read_csv('../data/raw/seas_adj_unemp.csv')
mon_unemp.drop(mon_unemp.iloc[:, 0:3], inplace = True, axis = 1)
mon_unemp.to_csv('../data/processed/unemp.csv')

mon_unemp.head()

      Label  Value
0  2018 Jan    4.1
1  2018 Feb    4.1
2  2018 Mar    4.0
3  2018 Apr    4.0
4  2018 May    3.8

In [3]:
# Weekly unemployment claims

weekly_ui = pd.read_csv('../data/raw/ui_raw.csv')
weekly_ui = weekly_ui[['Date', 'N.S.A']]
weekly_ui.to_csv('../data/processed/ui.csv')

weekly_ui.head()

        Date    N.S.A
0   1/4/2020  335,480
1  1/11/2020  338,550
2  1/18/2020  282,088
3  1/25/2020  229,002
4   2/1/2020  224,664

In [7]:
# Total non-farm employees

tot_emp = pd.read_csv('../data/raw/num_all_employees.csv')
tot_emp.drop(tot_emp.iloc[:, 0:3], inplace = True, axis = 1)
tot_emp.to_csv('../data/processed/total_employees.csv')

tot_emp.head()

      Label   Value
0  2018 Jan  147672
1  2018 Feb  148078
2  2018 Mar  148254
3  2018 Apr  148391
4  2018 May  148669

In [11]:
# Granular unemployment

# White unemployment
wht_unempl = pd.read_csv('../data/raw/seas_white_unemp.csv')
wht_unempl.drop(wht_unempl.iloc[:, 0:3], inplace = True, axis = 1)
wht_unempl.to_csv('../data/processed/wht_unemp.csv')

wht_unempl.head()

      Label  Value
0  2018 Jan    3.5
1  2018 Feb    3.7
2  2018 Mar    3.6
3  2018 Apr    3.6
4  2018 May    3.5

In [12]:
# Latino unemployment
ltn_unempl = pd.read_csv('../data/raw/seas_hisp_unemp.csv')
ltn_unempl.drop(ltn_unempl.iloc[:, 0:3], inplace = True, axis = 1)
ltn_unempl.to_csv('../data/processed/latino_unemp.csv')

ltn_unempl.head()

      Label  Value
0  2018 Jan    5.0
1  2018 Feb    4.9
2  2018 Mar    5.0
3  2018 Apr    4.8
4  2018 May    4.9

In [13]:
# Black unemployment
blk_unempl = pd.read_csv('../data/raw/seas_black_unemp.csv')
blk_unempl.drop(blk_unempl.iloc[:, 0:3], inplace = True, axis = 1)
blk_unempl.to_csv('../data/processed/Black_unemp.csv')

blk_unempl.head()

      Label  Value
0  2018 Jan    7.5
1  2018 Feb    6.7
2  2018 Mar    6.8
3  2018 Apr    6.4
4  2018 May    5.9

In [14]:
# Asian unemployment
asn_unempl = pd.read_csv('../data/raw/seas_asian_unemp.csv')
asn_unempl.drop(asn_unempl.iloc[:, 0:3], inplace = True, axis = 1)
asn_unempl.to_csv('../data/processed/asian_unemp.csv')

asn_unempl.head()

      Label  Value
0  2018 Jan    3.0
1  2018 Feb    2.9
2  2018 Mar    3.1
3  2018 Apr    2.8
4  2018 May    2.2

In [17]:
# Men unemployment
men_unempl = pd.read_csv('../data/raw/seas_men_unemp.csv')
men_unempl.drop(men_unempl.iloc[:, 0:3], inplace = True, axis = 1)
men_unempl.to_csv('../data/processed/men_unemp.csv')

men_unempl.head()

      Label  Value
0  2018 Jan    4.2
1  2018 Feb    4.1
2  2018 Mar    4.1
3  2018 Apr    4.1
4  2018 May    4.0

In [18]:
# Women unemployment
women_unempl = pd.read_csv('../data/raw/seas_women_unemp.csv')
women_unempl.drop(women_unempl.iloc[:, 0:3], inplace = True, axis = 1)
women_unempl.to_csv('../data/processed/women_unemp.csv')

women_unempl.head()

      Label  Value
0  2018 Jan    4.0
1  2018 Feb    4.1
2  2018 Mar    4.0
3  2018 Apr    3.8
4  2018 May    3.6

In [19]:
# Number of discouraged workers

#total number of discouraged workers
discour = pd.read_csv('../data/raw/seas_dis_workers.csv')
discour.drop(discour.iloc[:, 0:3], inplace = True, axis = 1)
discour.to_csv('../data/processed/num_dis_workers.csv')

discour.head()

      Label  Value
0  2018 Jan    441
1  2018 Feb    375
2  2018 Mar    456
3  2018 Apr    402
4  2018 May    435

In [25]:
# total number of men discouraged workers
men_discour = pd.read_csv('../data/raw/unadj_men_discouraged.csv')
men_discour.drop(men_discour.iloc[:, 0:3], inplace = True, axis = 1)
men_discour.to_csv('../data/processed/men_dis_workers.csv')

men_discour.head()

      Label  Value
0  2018 Jan    282
1  2018 Feb    224
2  2018 Mar    271
3  2018 Apr    242
4  2018 May    257

In [26]:
# total number of men discouraged workers
women_discour = pd.read_csv('../data/raw/unadj_women_discouraged.csv')
women_discour.drop(women_discour.iloc[:, 0:3], inplace = True, axis = 1)
women_discour.to_csv('../data/processed/women_dis_workers.csv')

women_discour.head()

      Label  Value
0  2018 Jan    169
1  2018 Feb    148
2  2018 Mar    179
3  2018 Apr    165
4  2018 May    120